.header {
    margin: 23px auto 16px;
    height: 38px;
    display: inline-flex;
    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: var(--primary);
}
.nav {
    background-color: none;
    font-size: 12px;
    padding: 0;
}
@screen sm{
    .header {
        margin: 23px auto 16px;
        height: 38px;
        display: inline-flex;
        padding: 10px 70px;
        justify-content: center;
        align-items: center;
        gap: 50px;
        border-radius: 20px;
        background: var(--primary);
    }
    .nav {
        background-color: none;
        font-size: 16px;
        padding: 0;
    }
}
